#player
  p Now playing
  #trackinfo
   form(method="get", name="lookup")
     input(type="text", name="artist", title="Artist...", value=artist)
     input(type="text", name="song", title="Song...", value=song)
     input(type="submit", class="submit", value="go")

 
  #withyou
    p Who's listening with you?
    #fans




script(type='text/javascript', src='/javascripts/search.js')
