#player
  p Now playing
  #trackinfo
   form(method="get", name="lookup")
     input(type="text", name="artist", value=artist)
     input(type="text", name="song", value=song)
     input(type="submit", class="submit", value="go")

 

  p Who Else is Listening?
  #fans




script(type='text/javascript', src='/javascripts/search.js')
