body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


h1
  text-align: center

a
  color: #00B7FF

input, textarea
	padding: 7px
	width:120px
	border: solid 1px #E5E5E5
	outline: 0
	font: normal 13px/100% Verdana, Tahoma, sans-serif
	background: #FFFFFF
	margin-right: 5px
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px

input:hover, textarea:hover,
input:focus, textarea:focus 
	border-color: #C9C9C9


input.submit 
	width: 40px
	padding: 7px 15px
	background: #617798
	border: 0
	font-size: 14px
	color: #FFFFFF
	margin-left: 20px






div#player
  background: none repeat scroll 0 0 lightGray
  margin: 50px 150px
  height: 350px
  width: 450px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  -khtml-border-radius: 20px
  border-radius: 20px
  border: 3px ridge #BBB
  text-align: center
  padding-top:10px

div#trackinfo
  background: none repeat scroll 0 0 #DDEEEE
  border: 2px solid darkSlateBlue
  height: 35px
  margin: 10px 40px 40px 40px
  padding: 5px
  text-align: center
  float: left
  width: 350px

div#withyou
  display:none

div#fans
  width: 410px

div#fans li
  list-style: none
  float:right
  display:inline-block
  font-size: 10px

div#fans img
  width:120px
  height:120px

div.name
  background: #ffffff
  opacity: 0.8
  position: relative
  bottom: 16px
  margin: 0 2px
  width: 116px

div.ago 
  font-style: italic
  color: #777



.input-prompt 
  position: absolute
  font-style: italic
  color: #aaa
  margin: 0.6em 0 0 0.6em

	
	